body{
  background-image: url(imgs/hacker-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* .paragraph p:last-child{
    text-align: center;
}

.paragraph p:first-child{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
} */

.back-link{
  margin-top: 25px;
  text-align: center;
}

.back-link a{
  color: gray;
  text-decoration: none;
  transition: 0.2s;
}

.back-link a:hover{
  color: gray;
  font-size: 20px;
  text-decoration: underline;
  transition: 0.2s;
}

.container .row{
    padding: 20px;
}

.container .row .one{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: black;
    border-radius: 25px;
    border: 2px solid rgb(180, 180, 180);
    padding: 5px;
    box-shadow: 10px 10px 20px black;
    transition: 0.3s;
}

.container .row .one:hover{
    background-color: black;
    color: rgb(35, 191, 24);
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    transition: 0.3s;
}


@media (max-width:1199px){

  .container .row .one{
    margin: 20px;
  }

  .container .row .one:hover{
    margin: 20px;
  }


}