*{
  user-select: none;
}

/* PLAY BUTTON STYLE START*/

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 180px;
  height: 180px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 180px;
  height: 180px;
  background: brown;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(brown, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  margin-left: 10px;
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 62px solid #fff;
  border-top: 42px solid transparent;
  border-bottom: 42px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* PLAY BUTTON STYLE END */

.background {
  background: url("img/background-desktop-4k.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.btn {
  margin-top: -30px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: brown;
  width: max-content;
  transition: 0.2s;
}

.btn:hover {
  padding: 8px 13px 8px 13px;
  background-color: rgb(116, 29, 29);
  transition: 0.2s;
}

.play-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play-screen .uip {
  color: brown;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.play-screen .btn a {
  text-align: center;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  font-size: 35px;
}

.mobile-version {
 display: none;
}

.mobile-version .uip {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mobile-version .btn a {
    color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
}


/* MEDIA */


@media (max-width: 1393px) {
  .play-screen {
    display: none;
  }

  .mobile-version {
    display: block;
  }


  .background {
    background-image: url("img/background-tablet.jpg");
  }

}

@media (max-width: 980px) {
  .background {
    background-image: url("img/bg-mobile.jpg");
  }
}