* {
    font-family: 'Maven Pro', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

#preloader {
    background: black url('img/loader.gif') no-repeat center;
    background-size: 50%;
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo {
    width: 15%;
    transition: 0.2s;
}

.logo:hover {
    width: 16%;
    transition: 0.2s;
}

.navbar .collapse {
    display: flex;
    justify-content: end;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 19px;
    transition: 0.2s;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    font-size: 23px;
    font-weight: bold;
    transition: 0.2s;
}


.one .hidden {
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.one .show {
    opacity: 1;
    transform: translateX(0);
}

.one .short-info p:nth-child(2) {
    transition-delay: 200ms;
}

.one .short-info p:nth-child(3) {
    transition-delay: 400ms;
}

.one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 100px 0 50px 0;
}

.one .me {
    width: 100%;
    z-index: 1;
}

.one .short-info {
    z-index: 2;
    align-self: center;
}

.one .short-info .name {
    font-size: 25px;
    color: rgb(151, 151, 151);
}

.one .short-info .job {
    position: relative;
}

.one .short-info .job .job-name {
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
    padding: 20px 0 20px 0;
    transition: 0.3s;
}

.one .short-info .job p:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #202020;
}

.one .short-info .job p:nth-child(2) {
    margin-top: -326px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0 25%, 18% 30%, 35% 40%, 50% 52%, 63% 59%, 75% 62%, 88% 61%, 100% 56%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 64%, 17% 63%, 34% 63%, 51% 60%, 69% 49%, 85% 41%,
                93% 39%, 100% 40%, 100% 100%, 0% 100%);
    }
}

.one .short-info .info {
    color: rgb(151, 151, 151);
    font-size: 20px;
}

.about-me {
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

.hidden {
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.two .music .hidden {
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.two .music .show {
    opacity: 1;
    transform: translateX(0);
}

.two {
    display: flex;
    justify-content: center;
}

.two .music {
    margin: 100px 0 50px 0;
    display: flex;
    flex-direction: row;
}

.two .music iframe {
    border-radius: 30px;
    transition: 0.3s;
}

.two .music iframe:hover {
    width: 90%;
    transition: 0.3s;
}

.two .music .about-video {
    width: 70%;
    flex-direction: column;
    padding: 0 40px;
    align-self: center;
    font-size: 20px;
    transition: 0.3s;
}

.two .music .about-video:hover {
    font-size: 25px;
    transition: 0.3s;
}


.three .city {
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.three .city .about-city {
    flex-direction: column;
    padding: 40px;
    align-self: center;
    font-size: 20px;
    transition: 0.3s;
}

.three .city .about-city:hover {
    font-size: 25px;
    transition: 0.3s;
}

.three .city img {
    flex-direction: column;
    border-radius: 50%;
    width: 57%;
    transition: 0.3s ease;
}

.three .city img:hover {
    width: 63%;
    transition: 0.3s ease;
}

footer {
    width: 100%;
    margin-top: 100px;
    background-color: #292929;
}

footer .container .row {
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container .row .logo {
    text-align: center;
    align-self: center;
}

footer .container .row .logo img {
    flex-direction: column;
    width: 60%;
}

footer .container .row .contact .contact-title {
    flex-direction: column;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .container .row .contact .mail {
    font-size: 15px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
}


footer .container .row .contact .phone {
    font-size: 15px;
    color: #818181;
    margin: 10px 0;
}

footer .container .row .selector {
    text-align: center;
    align-self: center;
}

footer .container .row .selector a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

footer .container .row .selector a:hover {
    font-size: 35px;
    transition: 0.2s;
}

footer .container hr {
    width: 75%;
    height: 2px;
    background-color: #818181;
}

footer .container .copyright {
    color: #818181;
    text-align: center;
    padding: 20px 0 40px 0;
}

.overlay-content {
    display: none;
}

.closebtn {
    display: none;
}

.navbar span {
    display: none;
}

@media (max-width:991px) {

    .navbar .navbar-brand {
        font-size: 50px;
    }

    .navbar .collapse .navbar-nav .nav-item .nav-link {
        font-size: 40px;
    }

    .one {
        margin-top: 50px;
        justify-content: center;
    }

    .one .short-info {
        margin-top: 650px;
        padding: 100px;
        position: absolute;
    }

    .one .short-info .info {
        font-size: 30px;
    }

    .one .me {
        width: 200% !important;
    }

    .about-me {
        margin-top: 250px;
    }

    .two .music .about-video {
        padding: 40px;
        width: 100%;
        font-size: 35px;
    }

    .two .music {
        flex-wrap: wrap;
    }

    .three .city {
        flex-wrap: wrap;
        padding-top: 0;
    }

    .three .city img {
        padding-top: 40px;
        text-align: center;
        width: 90%;
    }

    .three .city img:hover {
        width: 95%;
    }

    .three .city .about-city {
        font-size: 35px;

    }


    .one .short-info .job p:nth-child(2) {
        margin-top: -236px;
        animation: animate-2 4s ease-in-out infinite;
    }

    @keyframes animate-2 {

        0%,
        100% {
            clip-path: polygon(0% 0%, 16% 12%, 27% 22%, 43% 31%, 61% 38%, 77% 37%, 92% 32%, 100% 25%, 100% 99%, 0% 100%);
        }

        50% {
            clip-path: polygon(0 25%, 14% 30%, 28% 32%, 44% 33%, 60% 28%,
                    74% 20%, 86% 11%, 100% 0, 100% 99%, 0% 100%);
        }
    }

    #preloader {
        background-size: 100%;
    }


    .navbar .collapse {
        display: none;
    }

    .navbar .collapse .navbar-nav .nav-item .nav-link::before,
    ::after {
        text-align: end;
    }

    .navbar .collapse .navbar-nav .nav-item .nav-link {
        text-align: end;
    }

    .navbar .navbar-brand img {
        width: 25%;
    }

    .overlay-content {
        display: block;
    }

    .overlay-content a {
        text-decoration: none !important;
    }

    .closebtn {
        display: block;
        margin-top: -90px;
        font-size: 150px !important;
        text-decoration: none !important;
    }

    .navbar span {
        display: block;
        font-size: 60px;
    }


    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 75px;
        font-weight: bolder;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }

    footer .container .row {
        display: block;
        padding: 40px 0;
    }

    footer .container .row .logo {
        display: none;
    }

    footer .container .row {
        text-align: center;
    }

    footer .container .row .contact .contact-title {
        flex-direction: column;
        color: white;
        font-size: 100px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    footer .container .row .contact .mail {
        font-size: 30px;
        text-decoration: none;
        color: #818181;
    }

    footer .container .row .contact .mail:hover {
        font-size: 30px;
    }

    footer .container .row .contact .phone {
        font-size: 30px;
        color: #818181;
        margin: 10px 0;
    }

    footer .container .row .selector a {
        display: none;
    }

    footer .container .copyright {
        font-size: 25px;
        color: #818181;
        text-align: center;
        padding: 40px 0 80px 0;
    }


}

@media (max-width:1355px) {

    .one .me {
        width: 60%;
        transition: 1s;
    }

}