*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none !important;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
  width: 70% !important;
  background: url("imgs/background-img.PNG");
  background-size: cover;
}

.score {
  position: absolute;
  font-size: 50px;
  right: 1vmin;
  top: 1vmin;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  transition: 0.2s;
  color: aliceblue;
  text-shadow: 2px 4px 4px black;

}

.start-screen {
  position: absolute;
  font-size: 3vmin;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.world .start-screen{
  color: aliceblue;
  text-shadow: 2px 4px 4px black;
}

.world .back {
  position: absolute;
  display: flex;
  justify-content: end;
  text-shadow: 2px 4px 4px black;
}

.world .back a i {
  color: aliceblue;
  align-self: center;
  padding: 13px 16px 13px 16px;
  border-radius: 10px;
  background-color: brown;
  width: max-content;
  transition: 0.2s;
  font-size: 25px;
}

.world .back a i:hover {
  padding: 19px 21px 19px 21px;
  background-color: rgb(116, 29, 29);
  transition: 0.2s;
}

.back-mobile {
  display: none;
  position: absolute;
  top: 10%;
  transition: 0.2s;

}


.back-mobile a i {
  color: aliceblue;
  align-self: center;
  padding: 13px 16px 13px 16px;
  border-radius: 10px;
  background-color: brown;
  width: max-content;
  transition: 0.2s;
  font-size: 25px;
}

.audio {
  position: absolute;
  top: 20%;
}

.about-game {
  position: absolute;
  top: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}

.about-game p {
  font-family: 'Courier New', Courier, monospace;
}

.about-game .p2 {
  display: none;
  margin-top: 15px;
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

@media (max-width: 980px) {


  .world {
    width: 90% !important;
  }

  .world .back {
    display: none;
  }

  .back-mobile {
    display: block;
  }

  .score {
    font-size: 20px;
    transition: 0.2s;

  }

  .audio {
    top: 115%;
  }

  .about-game .p2 {
    display: block;
  }

}

@media (min-width: 2100px) {
  .world .back a i {
    padding: 23px 26px 23px 26px;
    font-size: 55px;
  }

  .world .score {
    font-size: 80px;
    transition: 0.2s;
  }

  .about-game p {
    font-size: 50px;
  }

}