@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Kolker+Brush&family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #101a23 !important;
}

/* .nav-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid rgb(167, 167, 167);
    box-shadow: 0 0 5px black;
    opacity: 0.2;
} */

.my-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.my-nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

.my-nav ul li{
    margin-right: 2rem;
}

.my-nav ul li:first-child{
    margin-right: auto;
    margin-left: 2rem;
}

.my-nav ul li img{
    width: 100px;
    transition: 0.2s;
}

.my-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s;
}

.my-nav ul .nav-item a:hover{
    padding: 5px 15px;
    color: #101a23;
    background-color: white;
    border-radius: 40px;
    transition: 0.2s;
}

.my-nav .burger{
    display: none;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 4;
}

.my-nav .burger .line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: white;
    transition: transform 0.6s, opacity 0.8s, top 0.6s;
}

.my-nav .burger .top{
    top: 30%;
}

.my-nav .burger .bot{
    top: 70%;
}

.my-nav .burger.active .top{
    top: 50%;
    transform: translate(-50%,-50%) rotate(-315deg);
}

.my-nav .burger.active .mid{
    opacity: 0;
}

.my-nav .burger.active .bot{
    top: 50%;
    transform: translate(-50%,-50%)  rotate(-225deg)
}

.my-nav .overlay{
    left: 100vh;
    transition: 0.3s ease;
}

.my-nav .overlay.show{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #101a23;
    opacity: 0.9;
    transition: 0.3s ease;
}

.my-nav .overlay a{
    display: none;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #bed5e3 !important;
}

.wrapper .title{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 100px;
    font-family: 'Poor Story', cursive !important;
    text-align: center;
    z-index: 1;
}

.wrapper img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}


section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    background: linear-gradient(to top,#101a23, transparent);
}

.container .row {
    justify-content: center;
}

.container .row div img{
    width: 100%;
}

.container .row div p{
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: 0 0 5px black;
    background-color: transparent;
    padding: 20px;
    color: lime;
    font-style: italic;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.container .row .one .not{
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.container .row .two .not2{
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.container .row .three .not3{
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.container .row .one .visible{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: 0.5s;
}

.container .row .two .visible{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: 0.5s;
}

.container .row .three .visible{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: 0.5s;
}


.container .row .one .paragraph1.overlay{
  color: red;
  font-size: 20px;  
  font-weight: bold;
  /* opacity: 0;   */
  transition: 0.2s;
}

.container .row .two .paragraph2.overlay{
    color: blue;
    font-size: 20px;  
    font-weight: bold;
    /* opacity: 0;   */
    transition: 0.2s;
  }

.container .row .three .paragraph3.overlay{
  color: yellow;
  font-size: 20px;  
  font-weight: bold;
  /* opacity: 0;   */
  transition: 0.2s;
} 

.container form{
    text-align: center;
    margin: 150px;
}

.container form label{
    color: white;
    font-size: 25px;
    margin: 10px 0;
    opacity: 0.6;
    transition: 0.2s;
}

.container form label:hover{
    opacity: 1;
    transition: 0.2s;
}

.container form input{
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px;
    margin: 10px 0;
    transition: 0.3s;
}

.container form input:hover{
    font-size: 25px;
    transition: 0.3s;
}

.container form button{
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    color: white;
    font-weight: bold;
    margin: 20px 0;
    transition: 0.2s;
}

.container form button:hover{
    font-size: 20px;
    border-radius: 30px;
    transition: 0.2s;
}


@media (max-width: 998px){

    .my-nav ul li img{
        margin-left: -45px;
        transition: 0.2s;
    }

    .my-nav{
        display: flex;
    }

    .my-nav .overlay.show a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;
        display: block;
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 60px;
        transition: 0.2s;
    }

    .my-nav .overlay.show a:hover{
        padding: 5px 15px;
        color: #101a23;
        background-color: white;
        border-radius: 40px;
        transition: 0.2s;
    }

    .my-nav .overlay.show a:first-child{
        top: 40%;
    }

    .my-nav .overlay.show a:last-child{
        top: 60%;
    }


    .my-nav ul .nav-item{
        display: none;
    }
    .my-nav ul .nav-item:first-child{
        display: flex;
    }
    .my-nav .burger{
        display: flex;
        margin-left: auto;
    }
}