*{
    font-family: 'Maven Pro', sans-serif;
    user-select: none;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 15%;
    transition: 0.2s;
} 

.logo:hover{
    width: 16%;
    transition: 0.2s ease;
}

.navbar .collapse{
    display: flex;
    justify-content: end;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
   font-size: 20px;
   transition: 0.3s ease;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
    font-weight: bolder;
    transition: 0.3s ease;
 }
 

.one .hidden{
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.one .show{
    opacity: 1;
    transform: translateX(0);
}

.one .short-info p:nth-child(2){
    transition-delay: 200ms;
}

.one .short-info  p:nth-child(3){
    transition-delay: 400ms;
}

.one{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.one .me{
    width: 900px;
    height: 900px;
    z-index: 1;
}

.one .short-info{
    z-index: 2;
    align-self: center;
    padding: 100px;
    position: relative;
    max-width: 900px;
}

.one .short-info .name{
    font-size: 25px;
    color: rgb(151, 151, 151);
}

.one .short-info .job{
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
    padding: 20px 0 20px 0;
}

.one .short-info .info{
    color: rgb(151, 151, 151);
    font-size: 20px;
}

.about-me{
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

.hidden{
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.two .music .hidden{
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.two .music .show{
    opacity: 1;
    transform: translateX(0);
}

.two{
    display: flex;
    justify-content: center;
}

.two .music{
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.two .music .video video{
    width: 700px;
    border-radius: 30px;
    transition: 0.3s ease;
}

.two .music .video video:hover{
    width: 750px;
    transition: 0.3s ease;
}

.two .music .about-video{
    min-width: 700px;
    padding: 40px;
    align-self: center;
    font-size: 20px;
    transition: 0.3s;
}

.two .music .about-video:hover{
    font-size: 25px;
    transition: 0.3s;
}


.three .city{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.three .city .about-city{
    min-width: 700px;
    padding: 40px;
    align-self: center;
    font-size: 20px;
    transition: 0.3s;
}

.three .city .about-city:hover{
    font-size: 25px;
    transition: 0.3s;
}

.three .city img{
    border-radius: 30px;
    width: 700px;
    transition: 0.3s ease;
}

.three .city img:hover{
    width: 750px;
    transition: 0.3s ease;
}


@media (max-width:980px) {
    
    .navbar .navbar-brand{
        font-size: 50px;
    }

    .navbar .collapse .navbar-nav .nav-item .nav-link{
        font-size: 40px;
     }


     .one .short-info .info{
        font-size: 30px;
    }

     .one{
        justify-content: center;
    }

     .one .short-info{
        position: absolute;
    }
    
    .one .short-info .job{
       color: #fff;
       text-shadow: 0 0 10px black;
    }
    
    .one .short-info .info{
        text-shadow: 0 0 4px black;
    }

    .two .music .about-video{
        font-size: 35px;
    }

    .two .music{
        flex-wrap: wrap;
    }

    .two .music .video{
        width: 100%;
        text-align: center;
    }

    .three .city{
        flex-wrap: wrap;
        padding-top: 0;
    }

    .three .city img{
        text-align: center;
    }

    .three .city .about-city{
        font-size: 35px;
    }

}

@media (max-width:991px) {

    .navbar .collapse{
        display: none;
    }

    .navbar .collapse .navbar-nav .nav-item .nav-link::before,::after{
        text-align: end;
     }

    .navbar .collapse .navbar-nav .nav-item .nav-link{
        text-align: end;
     }



}

@media (min-width:1920px) {

    .one{
        justify-content: center;
    }

    .two{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 1920px;
    }

    .three{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 1920px;
    }


}